@import 'variables';
@import 'mixins';

:host {
  display: block;
  min-width: 375px;
  max-height: 200px;
  background-color: $color-white;
  overflow: hidden;
}

.toaster {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    line-height: 20px;
    border-bottom: 1px solid $color-link;

    &::before {
      content: url('/assets/icons/info.svg');
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    @include font-semibold;
    padding: 0 36px;
    font-size: $font-size-regular;
    color: $color-dark-grey;
  }

  &__description {
    @include font-medium;
    padding: 0 36px;
    font-size: $font-size-body;
    color: $color-text-secondary;
  }

  &__toaster-link {
    color: $color-link;
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 24px;
    height: 24px;
  }
}
