<div class="container">
  <epm-navigation-icon [iconType]="headerSettings().leftButton" (click)="back()" />
  <h1 class="title">{{ headerSettings().title }}</h1>
  <ng-container *ngIf="isAuthorized; then authorized; else unauthorized"></ng-container>

  <ng-template #authorized [ngSwitch]="headerSettings().right">
    <ng-container *ngSwitchCase="header_right_block.StatusBar">
      <div class="statusBar">
        <div class="message" [ngClass]="{ new: newMessage() }" [routerLink]="chatLink">
          <img
            class="message-icon"
            height="24"
            width="24"
            src="/assets/images/header-icon/message.svg"
            alt="message notification"
          />
        </div>
        <a class="avatar-wrapper" [routerLink]="myProfileLink">
          <img width="24" height="24" [ngSrc]="avatar.src" alt="user avatar" />
        </a>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="header_right_block.Skip">
      <span class="skip">Skip</span>
    </ng-container>
  </ng-template>

  <ng-template #unauthorized>
    <epm-button [class]="button_themes.rounded" [additionalStyles]="{ padding: '12px 16px' }" (click)="handleLogIn()"
      >Log in</epm-button
    >
  </ng-template>
</div>
