<div class="container" [ngClass]="{ colored: headerSettings().colored, shadow: shouldAddShadow }">
  <epm-navigation-icon [iconType]="headerSettings().leftButton" (back)="back()" />
  <h2 class="title">{{ headerSettings().title }}</h2>
  @if (isAuthorized) { @switch (headerSettings().right) { @case (headerRightBlock.StatusBar) {

  <div class="statusBar">
    <div class="message" [ngClass]="{ new: newMessage() }" [routerLink]="chatLink">
      <svg class="icon">
        <use [attr.xlink:href]="'/assets/icons/sprite.svg#chat'"></use>
      </svg>
    </div>
    <a class="avatar-wrapper" [routerLink]="myProfileLink">
      <img width="24" height="24" [ngSrc]="avatar.src | setUserAvatar" alt="user avatar" />
    </a>
  </div>

  } @case (headerRightBlock.Skip) {

  <epm-button [class]="buttonThemes.Link">Skip</epm-button>

  } } } @else {

  <a class="button-link small" [routerLink]="loginLink">Log in</a>

  }
</div>
