<div class="container" [ngClass]="{ colored: headerSettings().colored }">
  <epm-navigation-icon [iconType]="headerSettings().leftButton" (back)="back()" />
  <h1 class="title">{{ headerSettings().title }}</h1>
  <ng-container *ngIf="isAuthorized; then authorized; else unauthorized"></ng-container>

  <ng-template #authorized [ngSwitch]="headerSettings().right">
    <ng-container *ngSwitchCase="headerRightBlock.StatusBar">
      <div class="statusBar">
        <div class="message" [ngClass]="{ new: newMessage() }" [routerLink]="chatLink">
          <svg class="icon">
            <use [attr.xlink:href]="'/assets/icons/sprite.svg#chat'"></use>
          </svg>
        </div>
        <a class="avatar-wrapper" [routerLink]="myProfileLink">
          <img width="24" height="24" [ngSrc]="avatar.src" alt="user avatar" />
        </a>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="headerRightBlock.Skip">
      <epm-button [class]="buttonThemes.Link">Skip</epm-button>
    </ng-container>
  </ng-template>

  <ng-template #unauthorized>
    <epm-button [class]="[buttonThemes.Primary, buttonThemes.Small]" (click)="handleLogIn()">Log in</epm-button>
  </ng-template>
</div>
