<div class="avatar__container">
  <div class="avatar__wrapper">
    <img width="48" height="48" [ngSrc]="user.avatar" alt="user avatar" />
  </div>
  @if (editableAvatar) {
  <epm-button
    class="avatar__edit"
    [class]="[buttonThemes.Primary, buttonThemes.IconOnly, buttonThemes.Small]"
    [iconName]="iconNames.Edit"
    (click)="onAvatarEdit()"
  />
  }
</div>
<h1 class="name">{{ user.name }} {{ user.surname }}</h1>
<p class="location">{{ user.location }}</p>
<ul class="social-list">
  @for (social of user.socials; track trackByPriority($index, social)) { @if (social.link) {
  <li class="social-list__item">
    <a (click)="onSocialClick($event, social.link, social.type)">
      <epm-svg-icon [svgIconName]="social.type" />
    </a>
  </li>
  } }
</ul>
