<epm-contact>
  <epm-contact-head [user]="user" [editableAvatar]="true" />

  <epm-button
    class="action-button"
    [class]="[buttonThemes.Secondary, buttonThemes.Small]"
    [additionalStyles]="{ width: '100%' }"
    (click)="onOpenEdit()"
    >Edit Profile</epm-button
  >

  @if (user.about || user.interests.length) {

  <epm-contact-about class="about" [about]="user.about" />
  <epm-contact-interests [interests]="user.interests" />

  } @else {

  <epm-contact-no-details>
    <span class="empty__text">
      <a class="empty__link" [routerLink]="editProfileLink">Edit profile</a>
      <span> to fill this section.</span>
    </span>
  </epm-contact-no-details>

  }
</epm-contact>
