<div class="avatar">
  <div class="avatar__wrapper">
    <img width="48" height="48" [ngSrc]="user.avatar" alt="user avatar" />
  </div>
</div>
<div class="info">
  <div class="info__text">
    <b class="name">
      <span>{{ user.name }}</span>
      <span class="no-space">{{ user.surname }}</span>
      @if (user.birthDate) {
      <span>,</span>
      } @if (user.birthDate) {
      <span>{{ user.birthDate | age }}</span>
      }
    </b>
    <p class="location">{{ user.location || 'Unknown location' }}</p>
  </div>
  <ul class="social-list">
    @for (social of user.socials; track trackByPriority($index, social)) { @if (social.link) {
    <li class="social-list__item">
      <a (click)="onSocialClick($event, social.link, social.type)">
        <epm-svg-icon [svgIconName]="social.type" />
      </a>
    </li>
    } }
  </ul>
</div>
<epm-button
  class="message-btn"
  [class]="[buttonThemes.Primary, buttonThemes.Small, buttonThemes.IconOnly]"
  [iconName]="iconNames.Chat"
  (click)="onChatClick($event)"
/>
