@import 'mixins';
@import 'variables';

:host {
  padding: 120px 0 0;
}

.success-message__wrapper {
  padding-top: 144px;
  margin-bottom: 32px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('../../../../assets/images/success.svg');
}

.title {
  @include font-bold;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: $color-text-accent;
}

.subtitle {
  @include font-medium;
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-text-secondary;
}
