@mixin font-informer {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

@mixin font-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@mixin font-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin font-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

@mixin font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin host-container {
  padding: 0 16px;
  display: block;
}
