@import 'variables';

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 375px;
  background-color: white;
}

svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke: $color-dark-grey;
}

.button-link {
  display: inline-block;
  width: 100%;
  padding: 16px 48px;
  line-height: 20px;
  text-align: center;
  color: $color-white;
  background-color: $color-button-primary;
  border-radius: 8px;

  &.small {
    width: auto;
    padding: 10px 16px;
  }

  &:active {
    background-color: $color-button-primary-pressed;
  }
}
