// ***COLORS***
$color-message-border: #e8e8e8;

// ***FONTS***
$font-family-inter400: 'Inter Regular', sans-serif;
$font-family-inter500: 'Inter Medium', sans-serif;
$font-family-inter600: 'Inter Semibold', sans-serif;
$font-family-inter700: 'Inter Bold', sans-serif;
