// ***COLORS***
$color-message-border: #e8e8e8;
$color-light-grey: #e5e5e8;

$text-dark-grey: #25272d;
$text-secondary: #66666f;

$input-border-focused: #315cad;

//***FONT-SIZES***
$font-size-label: 12px;
$font-size-regular: 16px;
