@if (!isNewPasswordFormSubmitted) {

<h2 class="title">Create new password</h2>
<form [formGroup]="createNewPasswordForm">
  <epm-input class="password__new" [type]="inputTypes.Text" [control]="email" labelPlaceholder="User email" />
  <epm-error-message [control]="email" />

  <epm-input class="password__new" [type]="inputTypes.Text" [control]="code" labelPlaceholder="Code from letter" />
  <epm-error-message [control]="email" />

  <epm-input
    class="password__new"
    [type]="inputTypes.Password"
    [control]="newPassword"
    labelPlaceholder="New password"
  />
  <epm-error-message [control]="newPassword" [priorityErrors]="priorityErrors" />
  @if (newPassword.pristine || newPassword.valid) {
  <p class="password__comment">
    Create a strong password that is at least 8&#160;characters long, includes upper-case, lower-case letters, at least
    1&#160;digit and 1&#160;special character.
  </p>
  }
  <epm-input
    class="password__confirm"
    [type]="inputTypes.Password"
    [control]="confirmNewPassword"
    labelPlaceholder="Confirm new password"
  />
  <epm-error-message
    class="password__confirm__error"
    [control]="confirmNewPassword"
    [priorityErrors]="priorityErrors"
  />
  <epm-button
    class="submit-button"
    [class]="buttonThemes.Primary"
    [isDisabled]="createNewPasswordForm.touched && createNewPasswordForm.invalid"
    (click)="onSubmit()"
  >
    Create
  </epm-button>
</form>

} @else {

<div class="success-message__wrapper">
  <h2 class="title">Password reset</h2>
  <h3 class="subtitle">Please use your new password to log in.</h3>
  <a class="button-link" [routerLink]="loginLink">Log in</a>
</div>

}
