@import 'variables';
@import 'mixins';

:host {
  @include host-container;
}

.catalogue {
  @include font-medium;
  display: inline-flex;
  gap: 4px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-link;
}

.change-password {
  &__title {
    @include font-bold;
    margin-bottom: 16px;
    font-size: $font-size-h2;
    line-height: 34px;
    color: $color-text-accent;
  }

  &__card {
    padding: 24px 16px 40px 16px;
    background-color: $color-white;
    border-radius: 12px;
    box-shadow: 0 4px 4px 0 $color-shadow-settings;
  }

  &__field {
    margin-bottom: 16px;

    &:nth-child(3) {
      margin-bottom: 32px;
    }

    epm-error-message {
      padding: 4px 0;
    }
  }
}
