<a class="catalogue" routerLink="../">
  <img src="/assets/icons/chevron-blue.svg" width="16" height="16" alt="navigate to previous page" />
  <span>Settings</span>
</a>
<h2 class="change-password__title">Change password</h2>
<form class="change-password__card" [formGroup]="changePasswordForm">
  <div class="change-password__field">
    <epm-input labelPlaceholder="Current password" [type]="inputTypes.Password" [control]="currentPassword" />
    <epm-error-message [control]="currentPassword" />
  </div>
  <div class="change-password__field">
    <epm-input labelPlaceholder="New password" [type]="inputTypes.Password" [control]="newPassword" />
    <epm-error-message [control]="newPassword" />
  </div>
  <div class="change-password__field">
    <epm-input labelPlaceholder="Confirm new password" [type]="inputTypes.Password" [control]="confirmNewPassword" />
    <epm-error-message [control]="confirmNewPassword" />
  </div>
  <epm-button
    class="button"
    [class]="buttonThemes.Primary"
    [isDisabled]="changePasswordForm.invalid"
    (click)="onSavePassword()"
  >
    Save password
  </epm-button>
</form>
