@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}

form {
  margin-top: 32px;
}

.password {
  &__new {
    margin-bottom: 4px;
  }

  &__confirm {
    margin-top: 16px;
  }

  &__comment {
    @include font-regular;
    font-size: 12px;
    line-height: 1.5;
  }
}

.title {
  @include font-bold;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: $color-text-accent;
}

.subtitle {
  @include font-medium;
  margin: 8px 0 32px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-text-secondary;
}

.submit-button {
  display: block;
  margin-top: 32px;
}

.success-message__wrapper {
  padding-top: 144px;
  width: 100%;
  background-image: url('../../../../assets/images/success.svg');
  background-repeat: no-repeat;
  background-position: top center;
}
