@if (!isCodeSubmitted) {

<div class="block-head">
  <h1 class="title">Enter code</h1>
  <h3 class="subtitle">Please check your email and provide the verification code</h3>
</div>

<form [formGroup]="createNewPasswordForm">
  <epm-input class="input__email" [type]="inputTypes.Text" [control]="email" labelPlaceholder="User email" />
  <epm-error-message class="input__error" [control]="email" />

  <epm-input
    #codeRef
    class="input__code"
    [type]="inputTypes.Text"
    [control]="code"
    labelPlaceholder="Verification Code"
    [maskConfig]="codeMaskConfig"
  />
  <epm-error-message class="input__error" [control]="code" />
  <epm-button
    class="submit-button"
    type="submit"
    [class]="buttonThemes.Primary"
    [isDisabled]="email.invalid || code.invalid"
    (click)="onCodeSubmit()"
  >
    Confirm code
  </epm-button>
</form>

} @if (isCodeSubmitted && !isNewPasswordFormSubmited) {

<form class="create-password__form" [formGroup]="createNewPasswordForm">
  <h1 class="title">Create new password</h1>

  <epm-input
    class="input__new-password"
    [type]="inputTypes.Password"
    [control]="newPassword"
    labelPlaceholder="New password"
  />
  <epm-error-message class="input__error" [control]="newPassword" [priorityErrors]="priorityErrors" />
  @if (newPassword.pristine || newPassword.valid) {
  <p class="input__comment">
    Create a strong password that is at least 8&#160;characters long, includes upper-case, lower-case letters, at least
    1&#160;digit and 1&#160;special character.
  </p>
  }
  <epm-input
    class="input__confirm-password"
    [type]="inputTypes.Password"
    [control]="confirmNewPassword"
    labelPlaceholder="Confirm new password"
  />
  <epm-error-message class="input__error" [control]="confirmNewPassword" [priorityErrors]="priorityErrors" />
  <epm-button
    class="submit-button"
    [class]="buttonThemes.Primary"
    [isDisabled]="createNewPasswordForm.touched && createNewPasswordForm.invalid"
    (click)="onNewPasswordSubmit()"
  >
    Save password
  </epm-button>
</form>
} @if (isCodeSubmitted && isNewPasswordFormSubmited) {
<epm-password-saved />
}
