@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.input {
  &__confirm-password,
  &__code {
    margin-top: 16px;
  }

  &__comment {
    @include font-regular;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.5;
  }

  &__error {
    margin-top: 4px;
  }
}

.title {
  @include font-bold;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: $color-text-accent;
}

.subtitle {
  @include font-medium;
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-text-secondary;
}

.submit-button {
  display: block;
  margin-top: 32px;
}

.block-head {
  padding-top: 144px;
  margin-bottom: 32px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('../../../../assets/images/email-check.svg');
}

.create-password__form {
  padding-top: 120px;

  & .title {
    margin-bottom: 32px;
  }
}
