<ng-container [ngSwitch]="iconType">
  <img
    *ngSwitchCase="headerIconType.Logo"
    ngSrc="/assets/images/header-icon/{{ iconType }}.svg"
    height="32"
    width="32"
    alt="logo"
  />
  <button *ngSwitchCase="headerIconType.Arrow">
    <img
      ngSrc="/assets/images/header-icon/{{ iconType }}.svg"
      height="24"
      width="24"
      alt="navigate to previous page"
      (click)="onBack()"
    />
  </button>
  <button *ngSwitchCase="headerIconType.Close">
    <img
      routerLink="/"
      ngSrc="/assets/images/header-icon/{{ iconType }}.svg"
      height="24"
      width="24"
      alt="navigate to previous page"
    />
  </button>
</ng-container>
