<epm-contact>
  <epm-contact-head [user]="user" />

  <epm-button [class]="buttonThemes.Primary" (click)="onOpenChat(user.userId)" class="action-button"
    >Message</epm-button
  >

  @if (user.about || user.interests.length) { @if (user.about) {
  <epm-contact-about class="details" [about]="user.about" />
  } @if (user.interests.length) {
  <epm-contact-interests class="details" [interests]="user.interests" />
  } } @else {

  <epm-contact-no-details>
    <span class="empty__text">This user has not provided details</span>
  </epm-contact-no-details>

  }
</epm-contact>
