@import 'variables';
@import 'mixins';

:host {
  display: inline-block;
  width: 100%;
}

.epm-input {
  @include font-regular;
  width: 100%;
  padding: 24px 16px 8px;
  font-size: $font-size-regular;
  line-height: 20px;
  color: $color-dark-grey;
  border: 1px solid $color-grey;
  border-radius: 8px;

  &:focus {
    outline: none;
    border-color: $color-input-focused;
    box-shadow: 0 0 0 1px $color-input-focused;
  }

  &.ng-invalid {
    &:is(.ng-dirty, .ng-touched) {
      border-color: $color-icon-negative;
      box-shadow: 0 0 0 1px $color-icon-negative;
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    color: $color-text-secondary;
    transition: all $transition-duration;

    &.nested-icon-input {
      padding-left: 38px;

      &::before {
        content: var(--before-content);
        position: absolute;
        top: 14px;
        left: 0;
        width: 24px;
        height: 24px;
      }

      &::after {
        max-width: calc(100% - 32px);
        padding-left: 38px;
      }
    }

    &.filled::after,
    &:focus-within::after {
      top: 8px;
      font-size: $font-size-label;
      line-height: 12px;
    }

    &::after {
      @include font-regular;
      content: attr(data-placeholder);
      position: absolute;
      display: inline-block;
      top: 16px;
      left: 16px;
      max-width: calc(100% - 32px);
      font-size: $font-size-regular;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      pointer-events: none;
      transition: $transition-duration ease all;
    }

    &.label-password {
      &::after {
        max-width: calc(100% - 64px);
      }

      & > .epm-input {
        padding-right: 48px;
      }
    }

    &.chat-input {
      & > .epm-input {
        padding: 8px 12px;
        height: 40px;
      }
    }

    &.masked {
      &::after {
        top: 16px;
        font-size: $font-size-regular;
        line-height: 20px;
      }

      &:focus-within {
        & > .epm-input {
          &::placeholder {
            opacity: 1;
          }
        }

        &::after {
          top: 8px;
          font-size: $font-size-label;
          line-height: 12px;
        }
      }

      & > .epm-input {
        font-variant-numeric: tabular-nums;
        letter-spacing: 2px;
        font-family: monospace;

        &::placeholder {
          opacity: 0;
          position: relative;
          font-family: monospace;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          line-height: 1.25;
        }
      }

      &__filled::after,
      &__filled:focus-within::after {
        top: 8px;
        font-size: $font-size-label;
        line-height: 12px;
      }
    }
  }

  &__toggle-visibility {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;

    &--icon {
      pointer-events: none;
    }
  }
}

img {
  pointer-events: none;
}
