@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 16px;
  min-height: calc(100vh - $header-height);
  background-color: $color-white;
}

.title {
  @include font-bold;
  margin-top: 16px;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: $color-dark-grey;
}

.subtitle {
  @include font-medium;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-text-secondary;
}

.button-link {
  margin-top: 32px;
}

.image {
  height: 120px;
  width: 100%;
  background-image: url('../../../../assets/images/404.svg');
  background-repeat: no-repeat;
  background-position: top center;
}
