@import 'fonts';
@import 'styles/variables';
@import 'styles/reset';
@import 'styles/mixins';
@import 'styles/styles';

body {
  @include font-medium;
  background-color: $color-message-border;
}

html {
  height: 100%;
  min-height: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}
