<img class="logo" src="assets/icons/logo_dark.svg" width="76" height="84" alt="logo" />

<h2 class="title">U-pamers</h2>

<h3 class="subtitle">Log in to receive full experience and start your journey with us</h3>

<form class="form" [formGroup]="loginForm">
  <epm-input class="password" labelPlaceholder="Login" [control]="email" />
  <epm-input class="confirm" labelPlaceholder="Password" [type]="inputTypes.Password" [control]="password" />
  <p class="forgot-pass">
    <a class="link" [routerLink]="['/', appRoutes.Auth, appRoutes.ResetPassword]">Forgot password?</a>
  </p>

  <epm-button class="submit-button" [class]="buttonThemes.Primary" [isDisabled]="!isFormValid" (click)="onLogIn()">
    Log In
  </epm-button>
</form>

<span class="sign-up">
  <span class="space-right">Don’t have an account?</span>
  <a class="link" [routerLink]="['/', appRoutes.Auth, appRoutes.SignUp]">Sign Up</a>
</span>
