@import 'variables';
@import 'mixins';

:host {
  align-self: flex-start;
}

.title {
  @include font-bold;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.25;
  color: $color-dark-grey;
}

.interests-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}
