<h1 class="title">Forgot your password?</h1>
<h3 class="subtitle">No worries! Enter your account email, and we’ll send you verification code to reset.</h3>
<form>
  <epm-input class="email-input" labelPlaceholder="Email" [control]="emailControl" />
  <epm-error-message class="error-message" [control]="emailControl" />
  <div class="button-wrapper">
    <epm-button class="button" [class]="buttonThemes.Primary" [isDisabled]="emailControl.invalid" (click)="onSubmit()">
      Reset Password
    </epm-button>
  </div>

  <epm-link-to-new-password description="Already have a verification?" linkDescription="Enter code" />
</form>
