<ng-container *ngIf="!isResetFormSubmitted; then resetPasswordForm; else successMessage"></ng-container>

<ng-template #resetPasswordForm>
  <h2 class="title">Forgot your password?</h2>
  <h3 class="subtitle">No worries! Enter your account email, and we’ll send you reset instructions.</h3>
  <form>
    <epm-input class="email-input" labelPlaceholder="Email" [control]="emailControl" />
    <epm-error-message class="error-message" [control]="emailControl" />
    <epm-button class="button" [class]="buttonThemes.Primary" [isDisabled]="emailControl.invalid" (click)="onSubmit()"
      >Reset Password</epm-button
    >
  </form>
</ng-template>
<ng-template #successMessage>
  <div class="success-message__wrapper">
    <h2 class="title">Check your email</h2>
    <h3 class="subtitle">
      You can reset the password for <b>{{ email }}</b> by following the instructions from the email we’ve just sent
      you.
    </h3>
  </div>
</ng-template>
