<ng-container *ngIf="!isResetFormSubmitted; then resetPasswordForm; else successMessage"></ng-container>

<ng-template #resetPasswordForm>
  <h2 class="title">Forgot your password?</h2>
  <h3 class="subtitle">No worries! Enter your account email, and we’ll send you reset instructions.</h3>
  <form>
    <epm-input class="email" />
    <epm-button class="button" [class]="buttonThemes.Primary" (click)="onSubmit()">Reset Password</epm-button>
  </form>
</ng-template>
<ng-template #successMessage>
  <div class="image"></div>
  <h2 class="title">Check your email</h2>
  <h3 class="subtitle after-submit">
    You can reset the password for <b>{{ email }}</b> by following the instructions from the email we’ve just sent you.
  </h3>
</ng-template>
